<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로또 게임</title>
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/base.css">
    <style>
    </style>
</head>
<body>
    <header class="my-header">
        <div class="my-header__content">
            <h1 class="my-header__logo">KAKAO LOTTO GAME</h1>
        </div>
    </header>
    <main class="main">
        <em style="color: red;">현재는 UI단에서는 예외처리가 없어요...</em>
        <div class="content">
            <form action="/lottoForm" method="post">
                구입금액을 입력해 주세요<br/>
                <input type="text" name="purchasePrice"/> <br/><br/>
                수동으로 구매할 로또 수를 입력해 주세요<br/>
                <input type="text" name="normalLottoCount"/> <br/><br/>
                수동으로 구매할 번호를 입력해 주세요.<br/>
                <textarea name="normalLottoString"></textarea> <br/><br/>

                <input type="submit" value="제출하기">

            </form>
        </div>
    </main>

    <footer>
        <div class="my-footer">
            <em>@maker : jm.hong</em>
        </div>
        
    </footer>
</body>
</html>