<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로또 게임</title>
    <link rel="stylesheet" href="/public/reset.css">
    <link rel="stylesheet" href="/public/base.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
    </style>
</head>
<body>
    <header class="my-header">
        <div class="my-header__content">
            <h1 class="my-header__logo">KAKAO LOTTO GAME</h1>
        </div>
    </header>
    <main class="main">
        <div class="content">
        </div>
    </main>

    <footer>
        <div class="my-footer">
            <em>@maker : jm.hong</em>
        </div>
        
    </footer>
</body>
</html>